{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cette page ne fonctionne pas ........................... NE FONCTIONNE PAS</h1>

    <p>
        Impossible de traiter cette demande à l'heure actuelle.<br>
        HTTP ERROR 500<br>
        misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}